@import '../../../GlobalStyles/GlobalStyles.scss';
.wrapper-subheader {
    .outer-subheader {
        background-color: var(--primary-color);
        .container {
            .inner-subheader {
                .direct-contact {
                    display: flex;
                }
                @include media(xs, sm) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .direct-contact {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                    }
                    .social-contact {
                        font-size: 2em;
                        padding: 10px;
                    }
                }
                @include media(md) {
                    display: flex;
                    .direct-contact {
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                    }
                    .social-contact {
                        font-size: unset;
                        padding: unset;
                    }
                }
                @include media(lg, xl) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 0;
                    font-weight: 600;
                    a {
                        margin-right: 20px;
                    }
                }
                a {
                    .icon {
                        margin-right: 5px;
                    }
                    transition: all 0.4s ease;
                    color: white;
                    padding: 5px;
                    border-radius: 3px;
                }
                a:hover {
                    color: var(--primary-color);
                    background-color: white;
                }
            }
        }
    }
}
