@import '../../../GlobalStyles/GlobalStyles.scss';
// .wrapper-subheader {
//     .outer-subheader {
//         background-color: var(--primary-color);
//         .container {
//             .inner-subheader {
//                 .direct-contact {
//                     display: flex;
//                 }
//                 @include media(xs, sm) {
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     .direct-contact {
//                         flex-direction: column;
//                         justify-content: center;
//                         align-items: center;
//                         padding: 5px;
//                     }
//                     .social-contact {
//                         font-size: 2em;
//                         padding: 10px;
//                     }
//                 }
//                 @include media(md) {
//                     display: flex;
//                     .direct-contact {
//                         flex-direction: row;
//                         justify-content: center;
//                         align-items: center;
//                         padding: 5px;
//                     }
//                     .social-contact {
//                         font-size: unset;
//                         padding: unset;
//                     }
//                 }
//                 @include media(lg, xl) {
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     padding: 5px 0;
//                     font-weight: 600;
//                     a {
//                         margin-right: 20px;
//                     }
//                 }
//                 a {
//                     .icon {
//                         margin-right: 5px;
//                     }
//                     transition: all 0.4s ease;
//                     color: white;
//                     padding: 5px;
//                     border-radius: 3px;
//                 }
//                 a:hover {
//                     color: var(--primary-color);
//                     background-color: white;
//                 }
//             }
//         }
//     }
// }

.wrapper-subheader {
    .outer-subheader {
        .container {
            .inner-subheader {
                background-color: var(--primary-color);
                .direct-contact {
                    display: flex;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        padding: 5px;
                        border-radius: 5px;
                        &:hover {
                            background-color: white;
                            color: var(--primary-color);
                            .icon {
                                color: var(--primary-color);
                            }
                        }
                    }
                    .icon {
                        margin-right: 5px;
                        color: white;
                    }
                    @include media(xs, sm) {
                        flex-direction: column;
                    }
                    @include media(md, lg, xl) {
                        flex-direction: row;
                        a {
                            margin-right: 10px;
                        }
                    }
                }
                .social-contact {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        background-color: rgba($color: #ffff, $alpha: 0.2);
                        text-align: center;
                        margin: auto;
                        border-radius: 5px;
                        font-size: 3rem;
                        width: 80%;
                        .icon-fb {
                            color: blue;
                        }
                        .icon-youtube {
                            color: red;
                        }
                        &:hover {
                            background-color: rgba($color: #ffff, $alpha: 1);
                        }
                    }
                    @include media(xs, sm) {
                        flex-direction: column;
                    }
                    @include media(md, lg, xl) {
                        a {
                            margin-right: 5px;
                        }
                        flex-direction: row;
                    }
                }
            }
        }
    }
}
