@import '../../../GlobalStyles/GlobalStyles.scss';
.wrapper-subheader {
    .outer-subheader {
        .container {
            font-size: 0.8rem;
            .inner-subheader {
                .direct-contact {
                    display: flex;
                    a {
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        padding: 5px;
                        border-radius: 5px;
                        margin-right: 10px;
                        transition: all 0.4s;
                        &:hover {
                            background-color: white;
                            color: var(--primary-color);
                            .icon {
                                color: var(--primary-color);
                            }
                        }
                    }

                    @include media(xs, sm) {
                        .icon {
                            font-size: 1.2rem;
                            padding: 5px;
                            color: white;
                        }
                        .icon-responsive-desktop {
                            display: none;
                        }
                        .icon-responsive-mobile {
                            display: flex;
                        }
                    }
                    @include media(md, lg, xl) {
                        .icon {
                            font-size: 1rem;
                            padding: 0;
                            transition: all 0.4s;
                            margin-right: 5px;
                            color: white;
                        }
                        .icon-responsive-desktop {
                            display: flex;
                        }
                        .icon-responsive-mobile {
                            display: none;
                        }
                    }
                }
                .social-contact {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        transition: all 0.4s;
                        background-color: rgba($color: #ffff, $alpha: 0.2);
                        text-align: center;
                        margin: auto;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        width: 100%;
                        .icon-fb {
                            color: blue;
                        }
                        .icon-youtube {
                            color: red;
                        }
                        &:hover {
                            background-color: rgba($color: #ffff, $alpha: 1);
                        }
                    }
                    @include media(xs, sm) {
                        .icon {
                            font-size: 1.2rem;
                        }
                        a {
                            margin-right: 5px;
                        }
                    }
                    @include media(md, lg, xl) {
                        a {
                            margin-right: 5px;
                        }
                        .icon {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
